@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family= Spectral :wght@600 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: url(../desafio2/background-image.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    font-family: 'Spectral', serif;

    padding-top: 150px;
}

h1{
    color: white;
    font-family: 'Beth Ellen', cursive;
    font-weight: 400;
    font-size: 64px;
    line-height: 120px;
}

h1 > span{
    color: #5EEAD4;
}

p{
    font-family: 'Spectral';
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #EBF1FB;
    opacity: .9;
    margin-top: 10px;
    margin-bottom: 50px;
}

a{
    padding: 16px 32px;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #EBF1FB;
    width: 149px;
}

a:hover,
.first{
    background-color: #5EEAD4;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}